*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --header-color: #45505B;
    --primary-color: #0563BB;
}
html {
    scroll-behavior: smooth;
}
/* Header*/
#header{
    position: relative;
}
#header .banner {
    background: url(../img/human.jpg) top right no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    opacity: .2;
}
#header > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: absolute;
    top: 0;
    left: 200px;
}
#header .name {
    font-size: 64px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: var(--header-color);
    margin-bottom: 10px;
}
#header .introduce {
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    color: var(--header-color);
    margin-bottom: 20px;
    line-height: 30px;
    position: relative;
    margin-bottom: 30px;
}
.introduce span {
    color: var(--primary-color);
    font-size: 36px;
    letter-spacing: 6px;
    position: relative;
    top: 6px;
    left: 12px;
    border-right: 4px solid var(--primary-color);
    display: inline-block;
    width: 0;
    overflow: hidden;
    animation: typing 2.5s steps(27, end) infinite alternate, blinking 0.5s infinite;
}
@keyframes typing {
    0%, 10%, 20% { width: 0 }
    80%, 95%, 100% { width: 240px }
}
@keyframes blinking {
    0% { border-right-color: transparent }
    50% { border-right-color: var(--primary-color)}
    100% { border-right-color: transparent}
}
.social-links a {
    color: #000;
    opacity: .7;
    font-size: 26px;
    text-decoration: none;
    margin-right: 20px;
}
/* Nav */
#nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
#nav .nav-item {
    width: 50px;
    height: 50px;
    color: var(--header-color);
    border-radius: 50px;
    background-color: #f2f3f5;
    font-size: 16px;
    text-decoration: none;
    margin: 10px 0;
    overflow: hidden;
}
#nav .nav-item:hover {
    width: 110px;
    background-color: var(--primary-color);
    transition: width 0.25s ease-in-out;
    color: #fff;    
}
.nav-item > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-item > div .section {
    margin-left: 10px;
    display: none;
    font-family: 'Raleway', sans-serif;
}
.nav-item:hover .section {
    display: block;
    transition: display 0.3s ease-in-out;
}
/* Content */
.content {
    padding: 0 30px 50px 150px;
}
.title {
    color: var(--header-color);
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    margin-bottom: 21px;
}
.title:after {
    content: '';
    width: 118px;
    border-bottom: 1.5px solid var(--header-color);
    position: absolute;
    bottom: 0;
}
.title:before {
    content: '';
    width: 50px;
    height: 3px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
}
.desc {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 21px;
}
/* About */
#about {
    padding: 50px 0;
}
#about >div {
    display: flex;
}
#about .avt {
    flex: 3;
    margin-right: 30px;
}
.avt img{
    width: 100%;
}
#about .profile {
    flex: 7;
    font-family: 'Open Sans', sans-serif;
}
.profile .job {
    color: #728394; 
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 21px;
}
.profile .info {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 10px;
}
.profile .info p {
    width: 50%;
    margin-bottom: 30px;
}
.info p i {
    color: var(--primary-color);
    font-size: 18px;
    margin-right: 6px;
}
/* Facts */
#facts {
    padding: 50px 0;
}
#facts > div {
    display: flex;
    justify-content: space-around;
}
#facts .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#facts .item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #ececec;
    margin: 15px 0 18px;
}
#facts .item p.number {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 18px;
}
#facts .item p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
/* Skills */
#skills {
    padding: 50px 0;
}
#skills > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#skills .item {
    width: 48%;
    margin-bottom: 15px;
}
#skills .item .name {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#skills .item .process {
    width: 100%;
    height: 10px;
    background-color: #e4dfdf;
    position: relative;
}
.item .process-100:after {
    content: '';
    width: 100%;
    height: 10px;
    background-color: var(--primary-color);
    position: absolute;
}
.item .process-80:after {
    content: '';
    width: 80%;
    height: 10px;
    background-color: var(--primary-color);
    position: absolute;
}
.item .process-90:after {
    content: '';
    width: 90%;
    height: 10px;
    background-color: var(--primary-color);
    position: absolute;
}

.item .process-75:after {
    content: '';
    width: 75%;
    height: 10px;
    background-color: var(--primary-color);
    position: absolute;
}

.item .process-50:after {
    content: '';
    width: 50%;
    height: 10px;
    background-color: var(--primary-color);
    position: absolute;
}
/* Services */
#services {
    padding: 50px 0;
}
#services > div {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
}
#services .item {
    width:calc(94% / 3);
    margin: 0 20px 20px 0;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;
}
#services .item:hover {
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}
#services .item .icon {
    font-size: 36px;
    background-color: #ccc;
    border-radius: 67% 33% 8% 92% / 48% 67% 33% 52% ;
    padding: 20px;
}
#services .item:hover .icon {
    color: #fff;
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}
#services .item .name {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    margin: 21px 0;
}
#services .item .desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
/* Contact */
#contact {
    font-family: 'Open Sans', sans-serif;
    padding: 50px 0;
}
#contact > div {
    display: flex;
}
#contact .contact--info {
    flex: 4;
}
#contact .contact--form {
    flex: 6;
}
#contact .contact--info .item {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
}
.contact--info .item .icon {
    width: 50px;
    height: 50px;
    background-color: #eef7ff;
    border-radius: 50%;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.contact--info .item span {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    opacity: .9;
}
.contact--form {
    display: flex;
    flex-direction: column;
}
.contact--form input[type="text"]{
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 17px;
    padding: 10px 12px;
    margin-bottom: 20px;
    outline-color: var(--primary-color);
}
.contact--form form > div {
    display: flex;
    justify-content: space-between;
}
form > div > input {
    width: 48%
}

.contact--form textarea {
    width: 100%;
    font-size: 17px;
    padding: 10px 12px;
    margin-bottom: 20px;
    outline-color: var(--primary-color);
}

.contact--form button {
    border-radius: 90px;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    padding: 8px 32px;
    align-self: center;
}

.contact--form button:hover {
    opacity: .7;
}
/* Footer */
.footer {
    background-color: #f7f8f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 50px;
}
.footer .footer__title {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--header-color);
}
.footer .footer__desc {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}
.footer .footer__social-links {
    display: flex;
}
.footer .footer__social-links a {
    background-color: var(--primary-color);
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
    padding: 10px;
    opacity: 1;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Scroll to top */
.scroll {
    width: 30px;
    height: 30px;
    background-color: rgb(115, 115, 239);
    border-radius: 50%;
    color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.scroll:hover {
    cursor: pointer;
    opacity: 0.7;
}


